.picker {
  font-size: 1.25rem;
  padding: 0.15rem 0.25rem;
  white-space: nowrap;
  background: none;
  background-size: 100% 100%;
  transition: var(--transiotion-default);
  text-align: left;
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-bright);
    color: var(--color-dark);
  }

  .selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
  }

  .selector::-webkit-color-swatch {
    border-radius: 50%;
  }

  .selector::-moz-color-swatch {
    border-radius: 50%;
  }
}