.wrapper {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    width: 100%;

    .image {
      border: var(--border-default);
      width: 100%;
      aspect-ratio: 1 / 1;
      cursor: pointer;
      backdrop-filter: blur(0.25rem);
      transition: var(--transiotion-default);
      border-radius: var(--border-radius-default);

      &:hover {
        transform: scale(1.05);
        z-index: 1;
        background-color: var(--color-bright);
      }
    }

  }

  .colors {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.25rem;

    .picker {
      font-size: 1.25rem;
      font-family: "RingBearer", "JetBrains Mono Bold", sans-serif;
      font-weight: 600;
      padding: 0.15rem 0.25rem;
      white-space: nowrap;
      background: none;
      background-size: 100% 100%;
      transition: all 200ms ease-in-out;
      backdrop-filter: blur(0.25rem);
      text-align: left;
      border: 1px solid rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: rgba(150, 127, 0, 0.5);
      }

      .selector {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        cursor: pointer;
      }

      .selector::-webkit-color-swatch {
        border-radius: 50%;
      }

      .selector::-moz-color-swatch {
        border-radius: 50%;
      }
    }
  }
}
