.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.25rem;
  padding: 0.25rem;

  button {
    font-size: 1.5rem;
    font-family: "RingBearer", "JetBrains Mono Bold", sans-serif;
    font-weight: 600;
    padding: 0.15rem 0.25rem;
    white-space: nowrap;
    cursor: pointer;
    background: none;
    background-size: 100% 100%;
    transition: all 200ms ease-in-out;
    backdrop-filter: blur(0.25rem);
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: rgba(150, 127, 0, 0.5);
    }
  }
}
