.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.25rem;
  padding: 0.25rem;

  button {
    font-size: 2rem;
    font-family: "BilboHand Bold", "JetBrains Mono Bold", sans-serif;
    font-weight: 600;
    padding: 0.15rem 0.25rem;
    white-space: nowrap;
    cursor: pointer;
    background: url("src/assets/img/paperButton.png");
    background-size: 100% 100%;
    border: none;
    transition: all 250ms ease-in-out;

    &:hover {
      filter: saturate(2);
      transform: translate(0.5rem, 0);
    }
  }
}
